:root {
  --gray-100: #F2F2F2;
  --gray-200:  #D9D9D9;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-600: #1A1A1A;
  --gray-700: #0D0D0D;
  --purple: #8284FA;
  --purple-dark: #5E60CE;
  --blue: #4EA8DE;
  --blue-dark: #1E6F9F;
  --danger: #E25858;
  --background: #454545;
  --white: #fff;
}

:focus {
  outline: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--gray-100);
  -webkit-font-smoothing: antialiased;
}

body,   input, textarea, button {
  font-family: Verdana, sans-serif;
  font-size: 1rem;
}
